@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
    margin: 0%;
    padding: 0%;
    font-family: "Poppins";

}
body{
  background-color: rgba(0, 255, 255, 0.116);

}
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    color: rgba(6, 45, 77, 0.822)
}
#list{
  display: inline-flex;
  gap: 80px;
  
}
.content{
    display: inline-flex;
    gap: 80px;
    
}
.top{
  font-size: 30px;
}
.mobile{
  display: none;
}
.hp:hover{
    transition-duration: 0.0s; 
    color: rgb(2, 126, 228);
     text-align: center;
     cursor: pointer;
     box-shadow : 0px 5px 0px rgb(2, 124, 224);
}
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(2, 126, 228);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(2, 126, 228);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .mode{
    font-size: 12px;
    text-align: center;
  }
.container{
    display: grid;
    grid-template-areas: 
    'ab ab bb bb'
    'a b c d ';
    gap:30px;
    justify-content: center;
    color: rgb(2, 126, 228);
    padding-top: 7em;
    width: 100%;
    padding-bottom: 2em;
}
.hi{
  grid-area: bb;
  color: rgb(6, 45, 77);
  text-align: center;
  margin-right: 10em;
}
.stylep{
  color: rgb(6, 45, 77);
   font-size: 10px
}
.dropdown {
    float: left;
    overflow:hidden;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(6, 45, 77);
    padding: 6px 1px;
    text-decoration: none;
    display: block;
    text-align: left;

  }
  .drop{
    display: none;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }  
  .arrow{
    width: 15px;
    height: 18px;
    margin-top: 4px;
    filter: brightness(2) invert(0);
  }
 
  .account{
    grid-area: ab;
    background-color: rgb(6, 45, 77);
    color: white;
    padding: 1.8em;
    width: 50%;
    border: 1px solid grey;
    border-radius: 10px;

  }
.airtime{
    grid-area: a;
    background-color: rgb(241, 238, 238);
    text-align: center;
    padding: 4em;

    box-shadow: 0px 0px 10px 0px rgb(182, 171, 171);
    background-image: url(bg.png);
}
.data{
    grid-area: b;
    background-color: rgb(241, 238, 238);
    text-align: center;
    padding: 4em;
    box-shadow: 0px 0px 10px 0px rgb(182, 171, 171);
}
.utility{
    grid-area: c;
    background-color: rgb(241, 238, 238);
    text-align: center;
    padding: 3.7em;
    box-shadow: 0px 0px 10px 0px rgb(182, 171, 171);

}
.cablesub{
    grid-area: d;
    background-color: rgb(241, 238, 238);
    text-align: center;
    padding: 4em;
    box-shadow: 0px 0px 10px 0px rgb(182, 171, 171);
}
  button{
    border: 1px solid white;
    border-radius: 12%;
    background-color: rgb(253, 37, 120);
    color: white;
    padding: 1em;
    font-family: 'Open-San';
    font-weight: 700;
    cursor: pointer;
  }
  button:hover{
   padding: 1.2em;
   background-color: rgb(255, 85, 150);
   font-family: 'Poppins';
   color: rgb(235, 230, 230);
   transition-duration: 0.5s;
  }
  @media (min-width: 250px) and (max-width: 800px) {
    body{
      height: 100vh;
      background-color: rgba(0, 255, 255, 0.068);
      
    }
    .container{
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      padding-bottom: 5em;
    }
    .account{
      width: 50%;
      font-size: 15px;
      }
     header{
      background-color: rgba(12, 35, 54, 0.034);
     }
     .top{
      font-size: 25px;
    }
    .hi{
      margin-right: 0em;
    }
    .mobile{
      display: block;
      color: aliceblue;
    }
    #ist {
      float: right;
      width: 100%;
      height: auto;
      color: #ddd;
    }
    
    .content {
      display: none;
      position: fixed;
      left:5px;
      top: 20px;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      padding: 16px 60px;
      background-color: white;
     
    }
    
    .content a {
      float: none;
      padding: 5px 1px;
      text-decoration: none;
      display: block;
      text-align: left;
      width: 100%;
      height: auto;
      
    }
    
    .content :hover {
      background-color: rgba(6, 45, 77, 0.288);
      color: white;
    }
    
    #list:hover .content {
      display: inline-block;
    }  

    .hp:hover{
      transition-duration: 0.0s; 
      color: white;
       text-align: center;
       cursor: pointer;
       box-shadow : 0px 0px 0px;
  }
.mode{
  display: none;
}
.drop{
  display: block;
  background-color: rgba(6, 45, 77, 0.021);
}
.drop:hover{
  
  background-color: rgba(6, 45, 77, 0.158);
}
.dropdown {
  float: left;
  overflow:hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: left;
  color: rgb(6, 45, 77);
  padding: 6px 1px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
} 
.arrow{
  display: none;
} 
  }